<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <style>
         div{
            height: 600px;
            background-color: rgb(255, 40, 76);
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Oops! ---- 404</h1>
        <h2>the page your trying to acces does not exists</h2>
    </div>
</body>
</html>