<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">  
    <!-- here give / at the beggining of href cumpolsary when we give params it will work fine thervise  params will cause problems -->
    <!-- here we are direfctly given file name instead of path this is because express.static method in middleware -->
  </head>